{% extends "base.html" %}
{% block content %}
<div class="container d-flex flex-column">
    <div class="row vh-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
                <div class="text-center mt-4">
                    <h1 class="h2">Password Reset</h1>
                    <p class="lead">
                        please enter the mail you registered with, you will be sent a link to reset your password
                    </p>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <div class="text-center">
                                <img src="{{ url_for('static', filename='img/logo.png') }}"
                                    alt="Charles Hall"
                                    class="img-fluid rounded-circle" width="132" height="132">
                            </div>
                            <form method="post">
                                {{ form.hidden_tag() }}
                                <div class="mb-3">
                                    {{ form.email.label(class="form-label")}}
                                    {{ form.email(class="form-control")}}
                                </div>
                                <div class="text-center mt-3">
                                    {{ form.submit(class="btn btn-primary btn-lg")}}
                                </div>
                                <br>
                                <small class="form-text text-muted ">you can <a href="{{url_for('auth.signup')}}">sign up</a> if you don't have an account</small><br>
                                <small class="form-text text-muted ">or <a href="{{url_for('auth.signup')}}">log in</a> if you remembered your password</small>
                                <!--error message-->
                                {% for field, errors in form.errors.items() %}
                                <br><br>
                                <small class="form-text text-danger">
                                {{ ', '.join(errors) }}
                                </small>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}