{% extends "base.html" %}
{% block content %}
<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
    <div class="d-table-cell align-middle">
        <div class="text-center mt-4">
            <h1 class="h2">Sign Up</h1>
            <p class="lead">
                and start hunting bugs
            </p>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="m-sm-4">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.email.label(class="form-label")}}
                            {{ form.email(class="form-control")}}
                        </div>
                        <div class="mb-3">
                            {{ form.name.label(class="form-label")}}
                            {{ form.name(class="form-control")}}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label(class="form-label")}}
                            {{ form.password(class="form-control")}}
                        </div>
                        <div class="mb-3">
                            {{ form.password_repeat.label(class="form-label")}}
                            {{ form.password_repeat(class="form-control")}}
                        </div>
                        <div class="text-center mt-3">
                            {{ form.submit(class="btn btn-primary btn-lg")}}
                        </div>
                        <br>
                        <small class="form-text text-muted ">You can <a href="{{url_for('auth.password_reset')}}">reset your password</a></small><br>
                        <small class="form-text text-muted ">or <a href="{{url_for('auth.login')}}">log in</a> if you already have an account</small>
                        <!--error message-->
                        {% for field, errors in form.errors.items() %}
                        <br><br>
                        <small class="form-text text-danger">
                        {{ ', '.join(errors) }}
                        </small>
                        {% endfor %}
                    </form>
                </div>
                <!--contact icons-->
                <a href="https://www.facebook.com/sedlacek.radek/"><i class="contact-icon bi bi-facebook"></i></a>
                <a href="https://github.com/sedlacekradek"><i class="contact-icon bi bi-github"></i></a>
                <a href="mailto:sedlacek.radek@email.cz"><i class="contact-icon bi bi-envelope-fill"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}