<div class="card" id="ticket-details">
    <div class="card-body">
        <div class="row">
            <div class="col"><a
                    href="{{ url_for('views.view_ticket', id_number=ticket.id)}}" class="btn btn-outline-primary btn-sm"
                    style="float: right;"><i
                    class="bi bi-caret-left-fill"></i> go back</a>
                {% if current_user.id == ticket.author %}
                <!--delete button disabled in edit mode-->
                <button disabled
                        class="btn btn-outline-danger btn-sm" style="float: left;">
                    <i class="bi bi-trash2-fill"></i> delete
                </button>
                {% endif %}
            </div>
        </div>
        <div class="m-sm-4">
            <form method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    {{ form.hidden_tag() }}
                </div>
                <div class="mb-3">
                    <span class="form-label">Name</span>
                    <span class="form-control">{{ticket.name}}</span>
                </div>
                <div class="mb-3">
                    {{ form.description.label(class="form-label")}}
                    {{ form.description(class="form-control border border-info")}}
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        {{ form.status.label(class="form-label")}}
                        {{ form.status(class="form-control border border-info")}}
                    </div>
                    <div class="mb-3 col-6">
                        {{ form.type.label(class="form-label")}}
                        {{ form.type(class="form-control border border-info")}}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <span class="form-label">Created</span>
                        <span class="form-control">{{ticket.date_created}}</span>
                    </div>
                    <div class="mb-3 col-6">
                        <span class="form-label">Last Update</span>
                        <span class="form-control">{{ticket.last_update|datetime_format}}</span>
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.developers.label(class="form-label")}}
                    {{ form.developers(class="form-control border border-info")}}
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <span class="form-label">Project</span>
                        <span class="form-control">
                  <a href="{{ url_for('views.view_project', id_number = ticket.project.id)}}">{{ticket.project.name}}</a></span><br>
                        <br>
                    </div>
                    <div class="mb-3 col-6">
                        <span class="form-label">Attached File</span>
                        <!--if file uploaded-->
                        {% if ticket.file != "" %}
                        <a href="{{url_for('views.delete_ticket_file', id_number = ticket.id)}}"><span
                                class="mt-2 form-control border border-info"><i
                                class="bi bi-trash2-fill text-primary"></i>delete file</span></a>
                        {% else %}
                        <span class="form-control mt-2">none</span>
                        {% endif %}
                    </div>
                    <div class="text-center mt-3">
                        {{ form.submit(class="btn btn-primary btn-lg")}}
                    </div>
                    <!--error message-->
                    {% for field, errors in form.errors.items() %}
                    <br><br>
                    <small class="form-text text-danger">
                        {{ ', '.join(errors) }}
                    </small>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>

