/***GENERAL***/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height 1.5;
    color: #303841;
    text-align: center;
    background-color: #EEEEEE;
    overflow-x: hidden;
    font-size: 0.95rem;
}

.contact-icon {
    font-size: 2rem;
    padding: 0.5rem;
}

th {
text-align:center !important;
}

a {
    text-decoration: none;
}

.file-form {
    width: 50%;
}

/***SIDEBAR***/

.nav-link{
    border-radius:0px !important;
    transition:all 0.5s;
    width:100px;
    display:flex;
    flex-direction:column
}

.nav-link:hover{
    background-color: #52525240 !important
}

.nav-link .bi{
    font-size:20px
}

.content {
    margin: 1%;
}

.dropdown:hover {
transition:all 0.5s;
background-color: #52525240
}

/***ALERTS***/

.error-container {
    position: fixed;
    width: 380px;
    margin: 2% auto;
    left: 100px;
    right: 0;
    z-index: 999;
}

/* Info Cards */

.card-icon {
  font-size: 3rem;
}


/* COMMENT SECTION */

.date{
    font-size: 11px
}

.left {
    font-size: 1.05rem;
    text-align:left !important;
}

.name{
    color: #007bff;
}

/* NOTIFICATIONS */

.notification {
  background-color: #555;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 100%;
  background: red;
  color: white;
}